* { padding: 0px; margin :0px; }

ul, li { list-style: none; }
.mainContainer { }
.containerPlayer, .containerSource {/* display:inline-block; float:left; padding:10px; margin:0px 10px; */}

.snippet { width:70%; border:1px solid #ccc; border-radius:5px; min-height:280px; max-height:280px; color:#fff; background-color:#343434; margin-top:1rem;  }
.snippet:nth-child(2) { margin-top:2rem; }
.snippet pre { max-height:230px; padding:5px; }
.snippet h4 { padding:10px; color:#343434; background-color:#00bd9b; }

/* Playlist */
#listContainer { width:100%; background-color:#fafafa;  }
#listContainer ul { background-color: #fafafa; clear: both; cursor: pointer;  }
#listContainer li { padding:10px; }
#listContainer li:nth-child(even) { background-color:#efefef; }
#listContainer li:hover, #listContainer li:nth-child(even):hover { background-color:#00bd9b; color:#fff; }
#listContainer li a { text-decoration: none; color:#4e4f4f; }
#listContainer li.activeAudio { background-color:#00bd9b; }


/* Player Controls */
#playerContainer { width:100%; height:130px; }
.controls li:first{margin-right:10px}
.controls li { float:left; display:inline-block; width:50px; text-align:center; margin-top:8px;margin-left:10px }

.controls li a { display:inline-block; }
.playAudio,.play { background-image:url(../images/pause.png); background-repeat:no-repeat; background-size:23px; width: 23px; height: 30px; margin:auto; }
/*.playAudio:hover { background-image:url(../images/pause.png); background-repeat:no-repeat; background-size:23px; }*/
.pauseAudio { background-image:url(../images/ply.png); background-repeat:no-repeat; background-size:26px; width: 26px; height: 30px; margin:auto; }
/*.pauseAudio:hover { background-image:url(../images/ply.png); }*/
.shuffle { display:none !important; background: url('../images/audio/audio_icons.png') no-repeat -28px -96px; width: 32px; height: 32px; margin:auto; }
.shuffleActive, .shuffle:hover { background: url('../images/audio/audio_icons.png') no-repeat -28px -71px; width: 32px; height: 32px; margin:auto; }
.left { background-image:url(../images/lft.png); background-repeat:no-repeat; background-size:31px; width: 31px; height: 31px; margin:auto; margin-top:4px; }
.left.disabled, .right.disabled { opacity:0.4; cursor:default; }
.right { background-image:url(../images/rgt.png); background-size:31px; background-repeat:no-repeat; width: 31px; height: 31px; margin:auto; margin-top:4px; }
.repeat { display:none !important; background: url('../images/audio/audio_icons.png') no-repeat -4px -103px; width: 21px; height: 21px; margin:auto; margin-top:7px; }
.repeat:hover, .repeat.loopActive { background: url('../images/audio/audio_icons.png') no-repeat -4px -79px; }
.volume { width: 20px; height: 20px; margin-left:5px; margin-right:5px; float:left; background: url('../images/audio/audio_icons.png') no-repeat; }
.volume1 { background-position: -5px -150px; }
.volume2 { background-position: -5px -198px; }
.volume3 { background-position: -5px -246px; }
.mute { background-position: -34px -127px; }
.progress { clear:both; height:4px; background-color:#666666; width:100%; cursor:pointer; position:relative; }
.progress .updateProgress { width:0px; background-color:#f4141a; height:100%; float:left; position:relative; }
.volumeControl { position: relative; margin: 8px auto; }
.volumeControl .updateProgress { display:inline-block; vertical-align:middle; margin-top:2px; }
input[type="range"] { -webkit-appearance: none; -moz-appearance: none; background-color: #00BD9B; height: 2px; }
.audioDetails { clear:both; color:#fff; font-size:13px; padding:5px; }
.audioTime { text-align: right; margin-bottom:10px; }
.songPlay {  }
.seekableTrack { width: 0%; background-color:#666666; height: 4px; position: absolute; z-index: 0; display: block; }
.seekableTrack, .progress .updateProgress { -webkit-transition: width 0.6s ease; -moz-transition: width 0.6s ease; -o-transition: width 0.6s ease; transition: width 0.6s ease; }

