
.chtr_blk { width:100%; display:inline-table; background-image:url(../images/chtr_bg.jpg); background-repeat:no-repeat; background-size:100%;}
.chtr_wrp { width:100%; padding:15px; background-image:url(../images/chtr_bg2.png); background-repeat:repeat; margin-top:75%;}
.chtr_wrp h2 { font-size:20px; margin-bottom:20px; margin-top:10px;}
.chtr_wrp p { color:#fff; font-size:15px;}
.chtr_ftr { width:100%; display:inline-table; background-color:#191919;}
.chtr_ftr .ftr_nav { width:175px; height:95px; margin:0 auto; padding:0px;}
.chtr_ftr .ftr_nav a { font-size:18px; margin-top: 10px; margin-top:-10px; color:#fff; font-family:'Futura-CondensedMedium'; text-decoration:none;  width:75px; float:left; background-repeat:no-repeat; text-align:center; padding-top: 80%; background-position:50% 0;}
.chtr_ftr .ftr_nav .chtr {  height:57px;  float:left; background-image:url(../images/ctr_ico.png); background-size:40px;}
.chtr_ftr .active .chtr { background-image:url(../images/ctract_ico.png); height:57px;}
.chtr_ftr .ftr_nav .actr {  height:57px;  float:right; background-image:url(../images/actr_ico.png); background-size:40px;}
.chtr_ftr .active .actr { background-image:url(../images/actract_ico.png); height:57px; }
.trk_blk { width:100%; display:inline-table; 
}
.trk_inf { width:100%; display:inline-table; padding-bottom:20px; margin-top: 20px;}
.trk_inf .trk_img { width: 80%;
    height: auto;
    float: left;
    margin-right: 15px;
    margin-left: 38px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);}
.trk_inf .trk_img img { width:100%;}
.trk_inf .trk_dt { float:left; width:100%; height:auto; position:relative}
.trk_inf .trk_dt h2 { font-size:19px; color:#fff; margin-top:0px;}
.trk_inf .trk_dt h3 { font-family:'Futura-CondensedMedium';  margin-top: 15px; font-size:18px; color:##ff6d8d;}
.shre { width:35px; height:35px; float:right; background-image:url(../images/share.png); background-size:35px; position:absolute; bottom:0px; right:0px;}
.bdr1 { width:90%; height:2px; background-color:#fff; display:inline-table; float:right;}
.snd_trks { width:90%; float:right; display:inline-table;}
.snd_trks ul { margin:0px; padding:0px;}
.snd_trks ul li { list-style:none;  font-family:'Wicked Grit'; font-size:20px;}
.snd_trks ul li a { font-family:'Wicked Grit'; font-size:18px; width:100%; float:right; padding-top:15px;  color:#fff !important; text-decoration:none;} 
.snd_trks ul li a span { width:90%; float:right;  border-bottom:solid 2px #fff; padding:0px 0px 15px 0; font-family:'bebasneue',sans-serif;}
.snd_trks #listContainer li { padding:0px;}

.trk_ply { width:100%; display:inline-table; padding:15px 0; margin-top:15px;}
	
.trk_ply .st_img { float: left;
    width: 60px;
    margin: 5px }
.trk_ply .st_img img { width:100%; -webkit-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
-moz-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);}
.trk_ply .st_tit { float:left; width:140px; height:30px; overflow:hidden; margin-right:5px; font-family:'Wicked Grit'; font-size:20px; color:#fff; line-height:24px; margin-top:15px;}
.trk_ply .st_cnr { float:right; width:100px; margin-top:25px;     margin-top: 18px;}

.sng_blk { width:100%; position:absolute; z-index:9999; display:inline-table; background-color:#404040; -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px; margin-top:30px; padding:15px;}
.sng_img { width:100%;}
.sng_img img { width:100%;}
.sng_blk #playListContainer { display:none;}
.sng_blk .progress { margin-bottom:2px;}
.sng_blk h2 { font-size:18px; text-align:center; margin:0 0 10px 0;}
.sng_blk h3 { font-family:'Futura-CondensedMedium'; color:#f4141a; font-size:20px; text-align:center; margin:0 0 15px0;}
.st_tit .audioDetails { padding:0px;}
.st_tit .songPlay { font-size:17px;}
.st_cnr .left { float:left;   margin-right: 15px; background-size: 25px; width: 25px; height: 25px;}
.st_cnr .play { float:left; width:17px;     margin-top: 2px; height:20px; background-size: 17px;}
.st_cnr .right { float:right;     background-size: 25px; width: 25px; height: 25px;}
.trk_ply #playerContainer { height:auto; }
.dwn_aro { width: 57px;  margin: 0 auto; margin-top: -27px; display: block; margin-bottom: 10px; height: 20px; background-repeat: no-repeat; /* float: left; */ background-image: url(../images/sng_bg.png); background-size: 58px;}
.controls { width:180px; margin:0 auto;}
.sdt_sol { width:100%; float:left;}
.sdt_sol .snk { width:30px; height:30px; float:left; background-image:url(../images/snk.png); background-size:30px; background-repeat:no-repeat;}
.sdt_sol .shtdt { width:30px; height:30px; float:right; background-image:url(../images/sd_shr.png); background-size:26px; background-repeat:no-repeat;}
.uparo {    width: 35px;  height: 20px; left: 47%; position: absolute; background-image: url(../images/sng_bg2.png); background-size: 34px; background-repeat: no-repeat; margin-top: -10px;}
.tab2 li { float:left; margin:0 6px;}


.audioTitle{ font-family:'dolcevita',sans-serif ; color:#fff;}


@media only screen and (width: 768px) {

.trk_inf .trk_img { height:auto;}
.trk_inf .trk_dt h2 { font-size:26px;}
.trk_inf .trk_dt h3 { font-size:24px;}
.shre { right:inherit;}
.snd_trks ul li a { font-size:22px;}
.snd_trks ul li a span { width:93%;}
.trk_ply .st_tit { font-size:24px; margin-top:22px;}
.trk_ply .st_tit { width:400px;}
.trk_ply .st_img { width:75px; margin-right:20px;}
.trk_ply .st_cnr { margin-top:25px;     width: 160px;}
.st_cnr .left {  margin-right: 34px;  background-size: 35px;  width: 35px; height: 35px;}
.st_cnr .play {  width: 22px;  margin-top: 3px; height: 34px; background-size: 22px;}
.st_cnr .right {  background-size: 35px; width: 35px; height: 35px;}
.uparo { left:50%;}
.nav-togglebtn { left: 690px !important;     top: 15px !important;}
.bar1, .bar2, .bar3 {     width: 35px !important;  height: 4px !important; margin: 5px 0 !important;} 
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-12px, 8px) !important;
    transform: rotate(-45deg) translate(-12px, 8px) !important;
}

	}
@media only screen and (min-width: 480px) and (max-width: 767px) {

.trk_inf .trk_img { height:auto;}
.snd_trks ul li a { font-size:22px;}
.trk_inf .trk_dt h2 { font-size:23px;}
.trk_inf .trk_dt h3 { font-size:21px;}
.nav-togglebtn {     left: 407px !important;  top: 19px !important;}

	}
@media only screen and (min-width: 375px) and (max-width: 479px) {
.lns_blk {     background-size: 70%;}
.menu2 h2 { padding-left: 44%;}
.closebt_cont2 { left: 35%;}
.subt { font-size:12px;}
.mv_tms .shw {     margin: 0 2.5px;}
.subcb .inps {     width: 228px;}
	}
@media only screen and (min-width: 360px) and (max-width: 374px) {
.lns_blk {     background-size: 70%;}
.closebt_cont2 { left: 35%;}
.menu2 h2 {     padding-left: 45%;}
.subcb .inps {     width: 217px;}
.subt { font-size:12px;}
.mv_tms .shw {     padding: 5px 6.5px;}
.glry .like_blk .fav {     width: 87px;}
.glry .like_blk a { padding-left:25px;}
.trk_ply .st_tit {     font-size: 18px;}
.trk_ply .st_cnr .pse {     width: 20px; height: 20px;  margin-right: 10px;   background-size: 15px;}
.trk_ply .st_cnr .fwd {     width: 25px;  height: 20px; background-size: 25px;}
.trk_ply .st_cnr { width:96px;}
.trk_ply .st_img { margin-right:15px;}
.trk_ply .st_tit {     width: 126px;}
.nav-togglebtn {     left: 300px !important;}
	}
@media only screen and (min-width: 320px) and (max-width: 359px) {
.lns_blk {     background-size: 70%;}
.menu2 h2 {         padding-left: 44%;}
.closebt_cont2 {     left: 34%;}
.menu2 { height:65px;}
/*.bar1, .bar2, .bar3 {height: 4px; margin: 3px 0;}*/
.menu2 h2 { font-size:24px;}
.buy_tkt h2 { font-size:24px;}
.buy_tkt { margin-top:20px;}
.buy_wrp { margin-top:15px;}
.buy_wrp input::-webkit-input-placeholder {  background-size: 18px; background-position:10% 10%; }
.buy_wrp h3 {     font-size: 14px; }
.loc h3 { background-size: 30px; padding-left: 14%;}
.loc p {     padding-left: 14%;     font-size: 11px;}
.subt { font-size:11px;}
.mv_tms .shw {padding: 4px 5px;     font-size: 12px;     line-height: 15px}
.mem_rgt h2 { }
.mem_lft {}
.glry .like_blk a { font-size:14px; padding-left:25px;     width: 70px;}
.glry .like_blk .fav { width:75px;}
.glry .shr_blk h2 { font-size: 16px; margin-right: 18px;}
.glry .shr_blk .gal_fb {     background-size: 9px;}
.glry .shr_blk .gal_twt { background-size: 22px;}
.glry .shr_blk .gal_ing { background-size: 16px;}
.glry .shr_blk .gal_pin {     background-size: 16px;}
.clip_blk .play { width: 60px; height: 60px; background-size: 60px;}
.trk_ply .st_tit {     font-size: 18px;     width: 102px;}
.trk_ply .st_cnr {     width: 95px;}
.trk_ply .st_cnr .pse {     width: 20px; height: 20px;  margin-right: 10px;   background-size: 15px;}
.trk_ply .st_cnr .fwd {     width: 25px;  height: 20px; background-size: 25px;}
.st_tit .songPlay { font-size:13px;}
.nav-togglebtn { left: 264px !important;}
nav {     width: 255px !important;}
	}